body {
  /* background-color: #bee2dc; */
  background: url("../img/robot.jpeg");
}

#result {
  background-color: white;
  padding: 15px;
  font-family: monospace;
  font-size: 14px;
  border-radius: 15px;
  margin-top: 15px;
}
div.row3 {
  color: green;
  text-align: justify;
}
.container {
  margin-top: 5%;
}

#userInput {
  background-color: white;
  padding: 15px;
  border-radius: 15px;
}
h1 {
  font-size: 50px;
  font-weight: bold;
  font-stretch: condensed;
}
