body {
  /* background-color: #bee2dc; */
  background: url("../img/robot.jpeg");
}

#result {
  background-color: white;
  padding: 25px;
  font-family: monospace;
  font-size: 14px;
  border-radius: 25px;
}
div.row3 {
  color: green;
  text-align: justify;
}
